CobaiaCodigoBombaNuclear/
projeto-oficina/
 ../.gitignore
        ../CarServiceProject/
        ../CobaiaCodigoBombaNuclear/.idea/misc.xml
        ../CobaiaCodigoBombaNuclear/.idea/vcs.xml
        ../CobaiaCodigoBombaNuclear/test.py
        ../MeuProjetoCleanArch/
        ../ProjetoCeciArrumando/
        ../ProjetoCeciArrumando_Backup/
        ../ProjetoCeciClean/
        "../Python_m2_gr\303\241fico/"
        ../Rabby/
        backend/.gitattributes
        backend/.gitignore
        backend/.mvn/
        backend/mvnw
        backend/mvnw.cmd
        backend/pom.xml
        backend/src/main/java/com/example/auto_service/AutoServiceApplication.java
        backend/src/main/resources/application.properties
        backend/src/test/
        frontend/.gitignore
        frontend/README.md
        frontend/components.json
        frontend/eslint.config.js
        frontend/index.html
        frontend/package-lock.json
        frontend/package.json
        frontend/postcss.config.js
        frontend/public/
        frontend/src/App.css
        frontend/src/App.tsx
        frontend/src/assets/
        frontend/src/components/ui/
        frontend/src/index.css
        frontend/src/lib/
        frontend/src/main.tsx
        frontend/src/vite-env.d.ts
        frontend/tailwind.config.js
        frontend/tsconfig.app.json
        frontend/tsconfig.json
        frontend/tsconfig.node.json
        frontend/vite.config.ts
        ../carolis-bet/
        ../crojeto_ceci/
        ../jogo-aniversario/
        ../price-monitor-extension/
        ../projeto-oficina/.idea/
        ../projeto-oficina/backend/.idea/.gitignore
        ../projeto-oficina/backend/.idea/compiler.xml
        ../projeto-oficina/backend/.idea/jarRepositories.xml
        ../projeto-oficina/backend/.idea/misc.xml
        ../projeto-oficina/backend/.idea/modules.xml
        ../projeto-oficina/backend/.idea/vcs.xml
        ../projeto-oficina/backend/oficina-backend/
        ../projeto-oficina/docker-compose.yml
        ../projeto-oficina/frontend/
        ../projeto-oficina/python/
        ../projeto_ceci/
        ../terralab-next/
        ../treasure-hunt/